{% extends 'main_user.html' %}


{% block contentTitle %}
    <title>Contact Us</title>
{% endblock contentTitle %}

{% block extra_css %}
    <link rel="stylesheet" type="text/CSS" href="/static/AppOneSDG/contact-us.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style>

        .links {
            display:inline-block;
            
            width: 167px;
            height: 61px;
            background: #020077;
            color: white;
            font-weight:bold;
            font-family: "Montserrat";
            margin-left: 10px;
            padding-top: 20px;
            text-align:center;
            
            
            }
            
            .links:hover{
                background: #5899E2;
            }
            
            #links {
            margin-left: 45px;
            }

            #currentBooking,td,tr,th{
                border: 1px solid black;
               }

            input::placeholder{
                font-size:18px;
            }
            
    
    
    
    
    </style>

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
{% endblock extra_css %}


{% block contentBody %}

<div class = "wrapper">

<div class = "overlay">

<div class = "text">

<h1 id = "intro">Devices Inventory </h1>

</div>
</div>
</div>
</div>

<br>
<br>

<h1 class = "title">Devices Inventory

</h1>
<br><br><br><br>

<form method = "GET" action="/action_page.php">
    <input type="search" id="gsearch" name="gsearch" placeholder = "Search the device you want to borrow by ID, Asset Tab, name or type" style = "width:701px;text-size:100px; height:40px;margin-left:500px;">

</form>

<br><br><br><br>

<table style = "width:100%" id = "currentBooking">
<tr>
<th>Device ID</th>
<th>Device Image</th>
<th>Device Name</th>
<th>Device Description</th>
<th>Device Type</th>
<th> Quantity</th>
<th> Actions</th>

</tr>


<!--Blank Row 1
<!--            midnight 30/04/2024
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>
    
<button class = "bookingApprove" style = "background:green;font-weight:bold;">Book Now</button>



</td>
</tr>


<!--Blank Row 2

<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
    
        <button class = "bookingApprove" style = "background:green;font-weight:bold;">Book Now</button>
        
        
        
        </td>
    </tr>

<!--Blank Row 3


    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button class = "bookingApprove" style = "background:green;font-weight:bold;">Book Now</button>
            
            
            </td>
        </tr>

<!--Blank Row 4

<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
        <button class = "bookingApprove" style = "background:green;font-weight:bold;">Book Now</button>
        
        
        
        </td>
    </tr>

<!--Blank Row 5

<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>

    <button class = "bookingApprove" style = "background:green;font-weight:bold;">Book Now</button>
    
    
    </td>
</tr>-->



<!-- midnight 30/04/2024 -->
{% for equipmentItem in equipments %}
<tr>
    <td>{{equipmentItem.equipId}}</td>
    <td></td>
    <td>{{equipmentItem.equipName}}</td>
    <td>{{equipmentItem.equipComments}}</td>
    <td>{{equipmentItem.equipType}}</td>
    <td>{{equipmentItem.equipQuantity}}</td>
    <td>
        <button class = "bookingApprove" style = "background:green;font-weight:bold;">Book Now</button>
    </td>
</tr>
{% endfor %}




</table>




<br><br><br><br>


{% endblock contentBody %}


<script>

 hamburger = document.querySelector(".hamburger");
 hamburger.onclick = function(){
    navBar = document.querySelector(".nav-bar");
    navBar.classList.toggle("active");
 }


</script>

    


</body>









</html>