{% extends 'main.html' %}

{% block contentTitle %}
    <title>Forgot Password</title>
{% endblock contentTitle %}

{% block extra_css %}
    <link rel="stylesheet" type="text/CSS" href="/static/AppOneSDG/background-image.css">
{% endblock extra_css %}

{% block contentBody %}

    <div class="login-container">
        <h1>Forgot Password</h1>
    
        <form method="post" class="login-form">
            {% csrf_token %}
            <div class="input-container">
                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email">
            </div>
            
            <div class="button-container">
                <button type="submit">Submit</button>
                <button type="button" onclick="clearForm()">Clear Form</button>
            </div>
        </form>
        <div id="message"> 
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
        </div>
    </div>

    <script>
        function clearForm() {
            document.getElementById("email").value = "";
        }
    </script>
{% endblock contentBody %}