{% extends 'main.html' %}

{% block contentTitle %}
    <title>Login</title>
{% endblock contentTitle %}

{% block extra_css %}
    <link rel="stylesheet" type="text/CSS" href="/static/AppOneSDG/background-image.css">
{% endblock extra_css %}

{% block contentBody %}

    <div class="login-container">
        <h1>Login</h1>
    
        <form method="POST"  class="login-form">
            {% csrf_token %}
            <!--<div class="input-container">
                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-container">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            
            <div class="checkbox-container">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember me</label>
            </div>
            <div class="forgot-password">
                <a href="{% url 'forgot_password' %}" style = "color:white;">Forgot your password?</a>
            </div>
            
            <div class="button-container">
                <button type="submit"><span class="icon">&#128274;</span>Login</button>
                <button type="button" onclick="clearForm()">Clear Form</button>
            </div>-->
            <fieldset>
                {{ form.as_p }}

                <div class="checkbox-container">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Remember me</label>
                </div>
                <div class="forgot-password">
                    <a href="{% url 'forgot_password' %}" style = "color:white;">Forgot your password?</a>
                </div>
                
                <div class="button-container">
                    <button type="submit"><span class="icon">&#128274;</span>Login</button>
                    <button type="button" onclick="clearForm()">Clear Form</button>
                </div>
            </fieldset>
        </form>
    </div>

    <!--[This function does not work here, but is implemented functionally in 'main.html']-->
    <script>
        function clearForm() {
            document.getElementById("email").value = "";
            document.getElementById("password").value = "";
        }
    </script>
{% endblock contentBody %}
