{% load static %}


<!DOCTYPE html> <!--This page is not currently used - its functionality is covered by 'main.html'-->
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block contentTitle %}
    {% endblock contentTitle %}

    <link rel="stylesheet" type="text/CSS" href="/static/AppOneSDG/mystylesheetSDG.css">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    >
    {% block extra_css %}{% endblock extra_css %}
</head>


<body>
    <!-- this is a comment that will not be displayed-->
    <!--An example of a simple web page.-->

    <header>
        {% include 'navbar_admin.html' %}
    </header>

    {% block contentBody %}
    <div>
        <h1>very New Home Page</h1>
    </div>

    <div>
        {% for item in testdata %}
        <div>
            <h5>{{item.id}} ----- {{item.name}}</h5>
        </div>
        {% endfor %}
    </div>
    {% endblock contentBody %}

    <footer>
        <p>&copy; Copyright 2024. University of Westminster. All rights reserved.</p>
    </footer>

    <script>/*[This function does not work here, but is implemented functionally in 'main.html']*/
        navToggleBtn = document.querySelector('.navToggleBtn');
        navLinks = document.querySelector('.navLinks');
        navToggleBtn.onclick = function() {
            navLinks.classList.toggle('dropdownOpen');
            navToggleBtn.classList.toggle('dropdownOpen');
        }
    </script>
</body>


</html>