{% load static %}


<!-- The user will be led on this page once the student or staff is already logged in -->

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block contentTitle %}
    {% endblock contentTitle %}
    </title>

    {% block extra_css %}
    <link rel="stylesheet" type="text/CSS" href="{% static 'AppOneSDG/mystylesheetSDG.css' %}">
    <link rel="stylesheet" type="text/CSS" href="{% static 'AppOneSDG/contactus.css' %}">
    {% endblock extra_css %}
</head>


<body>
    <!-- this is a comment that will not be displayed-->
    <!--An example of a simple web page.-->

    <header>
        {% include 'navbar_user.html' %}
    </header>

    {% block contentBody %}

    <div>
        <h1>very New Home Page</h1>
    </div>

    <div>
        {% for item in testdata %}
        <div>
            <h5>{{item.id}} ----- {{item.name}}</h5>
        </div>
        {% endfor %}
    </div>
    
    {% endblock contentBody %}

    

    <footer>
        <p>&copy; Copyright 2022. University of Westminster. All rights reserved.</p>
    </footer>
</body>


</html>