<!-- The following navbar code will be executed once a student or staff is logged into the system-->

<!--This is the navigation bar that appears for specifically non-admin users who are logged in-->
<div id="navLogo">
    <a href="/">
        <img src="/static/AppOneSDG/WLogo.png" alt="WLogo">
    </a>
</div>

<div class="navToggleBtn">
    <div class="hamburgerLine"></div>
    <div class="hamburgerLine"></div>
    <div class="hamburgerLine"></div>
    <i class='fa-solid fa-xmark'></i>
</div>

<nav class="navLinks">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/devices/">Devices</a></li>
        <li><a href="/currentBookings">Current Bookings</a></li>
        <li><a href="/bookingsHistory/">Bookings History</a></li>
        <li><a href="/logout/">Logout</a></li>
        <li><a href="/contactus/">Contact Us</a></li>
        <li><a href="/sitemap/">Sitemap</a></li>
        <li><a href="/updateAccountInformation/">Update Info</a></li>
    </ul>
</nav>