
<!--This is the navigation bar that appears for users who are not logged in-->
<!--The nav bar here, along with all of the other nav bars, are responsive in design-->

<div id="navLogo">
    <a href="/">
        <img src="/static/AppOneSDG/WLogo.png" alt="WLogo">
    </a>
</div>

<div class="navToggleBtn">
    <div class="hamburgerLine"></div>
    <div class="hamburgerLine"></div>
    <div class="hamburgerLine"></div>
    <i class='fa-solid fa-xmark'></i>
</div>

<nav class="navLinks">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sign_up/">Sign Up</a></li>
        <li><a href="/login/">Login</a></li>
        <li><a href="/admin_login/">Admin Login</a></li>
        <li><a href="/contactus/">Contact Us</a></li>
    </ul>
</nav>