<!-- The following code will be executed once an admin is logged into the system-->

<!--This is the navigation bar that appears for specifically admin users who are logged in-->
<div id="navLogo">
    <a href="/">
        <img src="/static/AppOneSDG/WLogo.png" alt="WLogo">
    </a>
</div>

<div class="navToggleBtn">
    <div class="hamburgerLine"></div>
    <div class="hamburgerLine"></div>
    <div class="hamburgerLine"></div>
    <i class='fa-solid fa-xmark'></i>
</div>

<nav class="navLinks">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/devicesInventory/">Devices</a></li>
        <li><a href="/logout/">Logout</a></li>
        <li><a href="/contactus/">Contact Us</a></li>
        <li><a href="/manageUsers/">User Management</a></li>
        <li><a href="/manageBookings/">Manage Bookings</a></li>
    </ul>
</nav>