
<!-- The following navbar code will be executed once a student or staff is logged into the system-->

<a href="/mainUser">
    <img src="/static/AppOneSDG/WNewTwo.png" alt="WLogo" id="navLogo">
</a>

<nav id="navLinks">
    <ul>
        <li><a href="/mainUser">Home</a></li>
        <li><a href="/devices/">Devices</a></li>
        <li><a href="/currentBookings">Current Bookings</a></li>
        <li><a href="/bookingsHistory/">Bookings History</a></li>
        <li><a href="/manageUsers/">Log out</a></li>
        <li><a href="/contactus/">Contact us</a></li>
        <li><a href="/sitemap/">Sitemap</a></li>
        <li><a href="/updateAccountInformation/">Update Info</a></li>
    </ul>
</nav>