
<!-- The following code will be executed once an admin is logged into the system-->

<a href="/mainAdmin">
    <img src="/static/AppOneSDG/WNewTwo.png" alt="WLogo" id="navLogo">
</a>

<nav id="navLinks">
    <ul>
        <li><a href="/mainAdmin">Home</a></li>
        <li><a href="/devices/">Devices</a></li>
        <li><a href="/">Log out</a></li>
        <li><a href="/contactus/">Contact Us</a></li>
        <li><a href="/manageUsers/">User Management</a></li>
        <li><a href="/manageBookings/">Manage Bookings</a></li>
    </ul>
</nav>